canvas {
  border: 1px solid #eee;
}
canvas:focus {
  border: 1px solid green;
}
.focus-target {
  position: fixed;
  width: 1px;
  contain: strict;
  z-index: -1;
  opacity: 0;
}
body {
  user-select: none;
  position: relative;
}

.page {
  display: flex;
}
.page-pannel {
  margin-left: 1px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow: scroll;
  padding-right: 10px;
}

.ant-tooltip-content {
  font-size: 11px;
}
.ant-tooltip-inner {
  padding: 2px 4px;
}
#_textEditorInput {
  position: absolute;
  display: block;
  width: 1px;
  z-index: -1;
  opacity: 0;
}
