canvas {
  border: 1px solid #eee;
}
canvas:focus {
  border: 1px solid green;
}
.focus-target {
  position: fixed;
  width: 1px;
  contain: strict;
  z-index: -1;
  opacity: 0;
}
body {
  user-select: none;
}
